# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on: push

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2
    - name: Run npm install and build
      run: |
        npm install
        npm build
  lint:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v2
    - name: Run npm install
      run: npm install        
    - name: Lint Action
      uses: samuelmeuli/lint-action@v1.5.3
        
  test:
    runs-on: ubuntu-latest
    
    steps:
    - name: Running tests
      run: npm test
